@import url("header.css");
@import url("footer.css");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*MAIN*/

.news {
    background: url("images/nakov.jpg") no-repeat;
    background-size: cover;
    height: 592px;
    padding-top: 1px;
}

.daily-news {
    width: 80%;
    margin: 0 auto;
}

.news-text-wrap {
    width: 50%;
}

.news-day {
    color: #F5A434;
    font-size: 350%;
    text-transform: uppercase;
    font-weight: lighter;
}

.warning {
    color: #DADADA;
    font-size: 269% ;
}

.warning span {
    font-weight: bold;
    text-transform: uppercase;
}

.danger {
    color: #273144;
    font-weight: lighter;
    font-size: 240%;
}

.country-side {
    background: #E2E2E2;
    padding-top: 1px;
    height: auto;
}

.country-wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.map {
    width: 70%;
    padding-top: 10px;
    position: relative;
}

.map img {
    width: 100%;
    height: auto;
}

.country-text-wrap {
    width: 20%;
}

.country-title {
    color: #394868;
    text-transform: uppercase;
    font-size: 200%;
    letter-spacing: 7.5px;
    font-weight: normal;
}

.simple-text, .country-text {
    color: #9D9D9F;
}

.simple-text {
    font-weight: bold;
    font-size: 125%;
    padding-bottom: 30px;
}

.lang {
    position: absolute;
    color: #304362;
}

.js {
    position: absolute;
    color: #304362;
    font-weight: bold;
    top: 90px;
    left: 230px;
    font-size: 24px;
}

.lang:hover {
    cursor: pointer;
    opacity: 0.5;
}

.sql {
    font-weight: bold;
    font-size: 24px;
    top: 90px;
    left: 390px;
}

.web-fund {
    font-weight: bold;
    font-size: 24px;
    top: 200px;
    left: 350px;
}

.c-sharp {
    font-weight: 900;
    font-size: 35px;
    bottom: 270px;
    left: 300px;
}

.java {
    font-weight: 900;
    font-size: 35px;
    bottom: 250px;
    right: 230px;
}

.php {
    font-weight: 900;
    font-size: 35px;
    bottom: 100px;
    right: 310px;
}

.president {
    background: #234465;
    padding-top: 1px;
}

.president-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.president-img {
    width: 25%;
    position: relative;
}

.president-img img {
    position: inherit;
    bottom: 30px;
    max-width: 100%;
    height: auto;
}

.thumb {
    width: 50%;
    text-align: center;
    padding-left: 20px;
}

.pres-text {
    color: #fff;
    font-style: italic;
    font-size: 2em;
}

.thumb {
    width: 50%;
    text-align: center;
    padding-left: 20px;
    padding-top: 30px;
}

.fa-thumbs-up {
    color: #193149;
}

.thumb .fa {
    font-size: 10em;
}

.community {
    background: #E2E2E4;
}

.comm-wrapper {
    width: 80%;
    margin: 0 auto;
    padding-top: 1px;
    height: 190px;
}

.comm-text {
    text-align: center;
}

.comm-title {
    color: #234465;
    font-size: 2.5em;
    font-weight: normal;
    text-transform: uppercase;
}

.comm-text a {
    color: #F5A434;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: normal;
    border: 2px solid #234465;
    padding: 5px 25px;
    text-transform: uppercase;
}
